/* styles.css */

@keyframes popIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .mobile-menu-open {
    display: block;
    animation: popIn 0.3s forwards;
  }
  